<div class="d-flex" style="z-index: 1000; position: absolute;  width: 100%; bottom: 0;" *ngIf="!weatherData">
  <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">

    <path fill="#273036" fill-opacity="1" d="M0,224L48,197.3C96,171,192,117,288,122.7C384,128,480,192,576,181.3C672,171,768,85,864,74.7C960,64,1056,128,1152,181.3C1248,235,1344,277,1392,298.7L1440,320L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
      
    </path>
  </svg> -->
  <img src="../../../assets/images/back-mountain.png" class="img-fluid w-100" alt="">
</div>
<div class="d-flex w-100 p-4 justify-content-between position-absolute top-0 text-light" style="z-index: 10000;" *ngIf="!weatherData">
  <div class="logo">
    <h5>Mm.</h5>
  </div>
  <div class="options"><label class="switch">
      <input type="checkbox" />
      <span class="wrapper">
        <span class="row-h">
          <span class="dot"></span>
          <span class="dot"></span>
        </span>
        <span class="row-h row-bottom">
          <span class="dot"></span>
          <span class="dot"></span>
        </span>
        <span class="row-vertical">
          <span class="dot"></span>
          <span class="dot middle-dot"></span>
          <span class="dot"></span>
        </span>
        <span class="row-horizontal">
          <span class="dot"></span>
          <span class="dot middle-dot-horizontal"></span>
          <span class="dot"></span>
        </span>
      </span>
    </label></div>
</div>
<div class="container-fluid  d-flex flex-column flex-md-row justify-content-center px-0 align-items-start"
  style="height: 100dvh; overflow-y: auto">

  <div class="toast-container position-fixed top-0 start-50 translate-middle-x p-3" style="z-index: 10000;">
    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">

      <div class="d-flex">
        <div class="toast-body text-dark">
          <i class="fa-solid fa-circle-info"></i> Weather Unavailable

        </div>
        <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <!-- <div class="toast-body text-dark">
        {{message}}
      </div> -->
    </div>
  </div>

  <div class="row  w-100 mx-0 flex-grow-1 flex-column flex-md-row " style="min-height: 100dvh;">
    <!-- Left Panel -->
    <div
      class="col-12  p-3 d-flex flex-column weather-db  border-bottom border-md-end border-white border-opacity-10 left-panel"
      [ngClass]="weatherData? 'col-md-4 ':'col-md-12 justify-content-center'" style="min-height: 100dvh;">

      <!-- Search Bar -->
       <div class="text-center">
        
       </div>
      <div class="d-flex flex-column align-items-center justify-content-center mb-2 " *ngIf="!weatherData">
        <div class="d-flex flex-column justify-content-end align-items-end title">
          <h1 class="display-2 fw-medium pb-0 mb-4 ">Megha Mitra.</h1>

        </div>

      </div>
      <div class="d-flex search-bar justify-content-center align-items-center w-100" style="position: relative;">

        <!-- Search Input -->
        <div class="input-container h-100   " [ngStyle]="{'width' : weatherData ? '100%':'40%'}"
          style=" position: relative;">
          <input type="text" [(ngModel)]="city" class="form-control text-dark" placeholder="Search for a city"
            autocomplete="off" (keyup.enter)="searchByCity()" (input)="onSearchChange()" />
          <ul *ngIf="suggestions.length" class="list-group suggestions-list">
            <li *ngFor="let place of suggestions" class="list-group-item" (click)="selectPlace(place)">
              <i class="fas fa-search me-2"></i> {{ place.name }}, {{ place.country }}
            </li>
          </ul>
        </div>

        <button class="btn btn-light ms-2" (click)="searchByCity()" style="width: 40px; height: 40px;">
          <fa-icon [icon]="searchIcon"></fa-icon>
        </button>

        <button class="btn btn-light ms-2" (click)="useMyLocation()" style="width: 40px; height: 40px;">

          <fa-icon [icon]="locationIcon"></fa-icon>

        </button>


      </div>


      <div class="d-flex flex-column gap-2 my-4 mb-auto" *ngIf="weatherData">
        <!-- Bigger and medium screen -->
        <h5 class="mb-0 d-none d-md-block d-lg-block ">{{ weatherData.name }}, {{ weatherData.sys.country }}</h5>
        <h1 class="display-4 d-none d-md-block d-lg-block fw-medium">{{ weatherData.main.temp }} °C</h1>

        <!-- smaller screen -->
        <h5 class="display-5 fw-medium d-block d-md-none d-lg-none "><i class="fa-solid fa-location-dot"></i> {{
          weatherData.name }}, {{
          weatherData.sys.country }}</h5>
        <h1 class="display-1 fw-small fw d-block d-md-none d-lg-none">{{ weatherData.main.temp }} °C</h1>

        <div class="d-flex gap-3">
          <div><i class="fa fa-arrow-up"></i> {{ weatherData.main.temp_max }} °</div>
          <div><i class="fa fa-arrow-down"></i> {{ weatherData.main.temp_min }} °</div>
          <div>Feels Like {{ weatherData.main.feels_like }} °</div>

        </div>
      </div>

      <!-- visible in smaller screens -->
      <div class=" my-3 text-start d-block d-lg-none d-md-none" *ngIf="weatherData">
        <h1 class="display-2 fw-normal text-capitalize mb-4">
          {{ weatherData.weather[0].description }}
        </h1>
        <p><em>
            {{
            weatherData.weather[0].description.charAt(0).toUpperCase() +
            weatherData.weather[0].description.slice(1)
            }}
            with a high of {{ weatherData.main.temp_max }} °C and a low of
            {{ weatherData.main.temp_min }} °C. Feels like
            {{ weatherData.main.feels_like }} °C. Wind speed at
            {{ weatherData.wind.speed }} km/h from {{ weatherData.wind.deg }} °,
            gusting up to {{ weatherData.wind.gust }} km/h. Pressure at
            {{ weatherData.main.pressure }} hpa. Humidity {{
            weatherData.main.humidity
            }}%.</em>
        </p>
      </div>

      <!-- Weather Info -->
      <div class="mt-3">
        <div class="container-fluid px-0" *ngIf="weatherData">
          <div class="row g-3 ">
            <div class="col-md-4 col-6" *ngFor="let item of weatherProperties | keyvalue">
              <div class=" text-dark rounded-4 h-100 p-3" style="background: #acb6e5;  
              background: -webkit-linear-gradient(to right, #86fde8, #acb6e5);  
              background: linear-gradient(to right, #86fde8, #acb6e5);box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 3%); 
              ">
                <div class="d-flex justify-content-between align-items-start">
                  <h5><fa-icon [icon]="item.value.icon"></fa-icon></h5>
                  <fa-icon [icon]="ellipsisV"></fa-icon>
                </div>
                <div class="d-flex justify-content-start align-items-center py-2">
                  <h6 class="card-title mb-0 text-muted" style="font-size: small;">{{ item.value.label }}</h6>
                </div>
                <div class="d-flex align-items-end">
                  <div class="d-inline-flex align-items-baseline">
                    <span class="fs-4 fw-bold">{{ item.value.value }}</span>
                    <span class="ms-1 fs-6 fw-medium">{{ item.value.units }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid px-0 mt-3" *ngIf="weatherData">
          <div class="row row-cols-sm-2 row-cols-lg-2 g-3">
            <div class="col">
              <div class=" text-dark rounded-4 h-100 p-3"
                style="background: linear-gradient(45deg, #ff8f8f , #fffc99 );box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 3%);">
                <div class="d-flex justify-content-between align-items-start">
                  <h5 class="fs-6">SUN RISE</h5>
                  <!-- <h5><fa-icon [icon]=""></fa-icon></h5> -->
                  <i class="wi wi-sunrise"></i>
                </div>

                <div class="d-inline-flex align-items-baseline">
                  <span class="fs-1 fw-bold">{{ weatherData.sys.sunrise * 1000 |
                    date : "HH:mm" }}</span>
                  <span class="ms-1 fs-6 fw-medium"></span>
                </div>
                <div class="d-flex align-items-end">
                  <div class="d-inline-flex align-items-baseline">
                    <span class="fw-bold" style="font-size: small;">{{ getRelativeTime(weatherData.sys.sunrise)
                      }}</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="text-light rounded-4 h-100 p-3" style="background: #0B486B;
              background: linear-gradient(
                to right,
                #0B486B,#F56217
              );">
                <div class="d-flex justify-content-between align-items-start">
                  <h5 class="fs-6">SUN SET</h5>
                  <!-- <h5><fa-icon [icon]=""></fa-icon></h5> -->
                  <i class="wi wi-sunset"></i>
                </div>

                <div class="d-inline-flex align-items-baseline">
                  <span class="fs-1 fw-bold">{{ weatherData.sys.sunset * 1000 | date : "HH:mm" }}</span>
                  <span class="ms-1 fs-6 fw-medium"></span>
                </div>
                <div class="d-flex align-items-end">
                  <div class="d-inline-flex align-items-baseline">
                    <span class="fw-bold" style="font-size: small;">{{ getRelativeTime(weatherData.sys.sunset) }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Right Panel -->
    <div class="col-12 col-md-8 p-3 right-panel" *ngIf="weatherData">
      <div class="d-flex flex-column h-100 justify-content-start">
        <div class="d-flex justify-content-end w-100 mb-3">
          <app-navbar></app-navbar>
        </div>

        <div class="text-end px-2 mb-auto">
          <h5 class="fs-smaller text-end">{{ countryDate }}</h5>
          <h1 class="fw-bold text-end">{{ countryTime }}</h1>
        </div>

        <div class="px-2 mt-3 text-end">
          <h1 class="display-5 fw-normal text-capitalize">
            {{ weatherData.weather[0].description }}
          </h1>
        </div>

        <div class="p-2 text-end">
          <p class="mb-0">
            {{
            weatherData.weather[0].description.charAt(0).toUpperCase() +
            weatherData.weather[0].description.slice(1)
            }}
            with a high of {{ weatherData.main.temp_max }} °C and a low of
            {{ weatherData.main.temp_min }} °C. Feels like
            {{ weatherData.main.feels_like }} °C. Wind speed at
            {{ weatherData.wind.speed }} km/h from {{ weatherData.wind.deg }} °,
            gusting up to {{ weatherData.wind.gust }} km/h. Pressure at
            {{ weatherData.main.pressure }} hpa. Humidity {{
            weatherData.main.humidity
            }}%.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>